.header
  .header__title
    Real Estate
  .header__sing-login
    .header__sing-login__sing
      新規登録
    .header__sing-login__login
      ログイン

.main
  .main__title
    不動産情報探し
  .main__bar
    .main__bar__rent-box
      .main__bar__rent-box__title
        借りる
      .main__bar__rent-box__type
        マンション・アパート・一戸建て
      .main__bar__rent-box__rent
        賃貸物件
    .main__bar__buy-box
      .main__bar__buy-box__title
        買う
      .main__bar__buy-box__types
        .main__bar__buy-box__types__apartment
          .main__bar__buy-box__types__apartment__type
            マンション
          .main__bar__buy-box__types__apartment__new
            新築マンション
          .main__bar__buy-box__types__apartment__old
            中古マンション
        .main__bar__buy-box__types__house
          .main__bar__buy-box__types__house__type
            一戸建て
          .main__bar__buy-box__types__house__new
            新築一戸建て
          .main__bar__buy-box__types__house__old
            中古一戸建て